<div>
</div>
<hr>
    <div>
      <h4>
        Sigue estos pasos para agregar un nuevo FIC favorito para comparar.
      </h4>
      <ul class="list-group">
        <li class="list-group-item active">Selecciona la Sociedad Administradora</li>
        <li class="list-group-item">Selecciona el Fondo</li>
        <li class="list-group-item">Selecciona el tipo de participacion y agregala a tus favoritos</li>
      </ul>
    </div>
    <hr>

<div class="btn-group-vertical" role="group" aria-label="Basic example">
    <h4>
      Selecciona una Sociedad Administradora</h4>
  <% @list_of_administradoras.each do |an_administradora| %>
    <button type="button" class="btn btn-outline-secondary" ><a href="/administradoras/<%= an_administradora.id%>"><%= an_administradora.nombre_administradora %></a></button>
  <%end%>
</div>