<h1>Bienvenido a Maii!</h1>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Bienvenido a Maii!!</div>
  <div class="card-body">
    <p class="card-text">En Maii estamos convencidos en el poder del ahorro, y queremos darte el control de tus desiciones de inversion.</p>
  </div>
</div>

<h3>Con Maii puedes:</h3>
<ul> 
  <li>Comparar los FIC disponibles en el mercado</li>
  <li>Hacerle seguimiento a tus FIC preferidos</li>
</ul>

<div>
<% @parsed_data.each do |fund|%>
 <ul>
  <li><%= fund.fetch("nombre_patrimonio")%></li>
</ul> 
<%end%>
</div>