<h1>Bienvenido a Maii!</h1>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Bienvenido a Maii!!</div>
  <div class="card-body">
    <p class="card-text">En Maii estamos convencidos en el poder del ahorro, y por eso queremos darte toda la informacion para que tomes el control de tus inversiones en fondos de inversion colectiva.</p>
  </div>
</div>

<h3>Con Maii puedes:</h3>
<ul> 
  <li>Comparar los FIC disponibles en el mercado</li>
  <li>Hacerle seguimiento a tus FIC preferidos</li>
</ul>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Fondo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Compartimiento</th>
      <th scope="col">Tipo participacion</th>
    </tr>
  </thead>
  <tbody>
  <% @parsed_data.each do |fund|%>
    <tr>
      <th scope="row">#</th>
      <td><%= fund.fetch("nombre_patrimonio")%></td>
      <td><%= fund.fetch("principal_compartimento")%></td>
      <td><%= fund.fetch("tipo_participacion")%></td>
    </tr>
    <%end%>
      </tbody>
</table>