<div><hr></div>

<div class="jumbotron">
  <h1 class="display-4">Bienvenido a Maii</h1>
  <p class="lead">En Maii estamos convencidos en el poder del ahorro y la inversion, y por eso queremos darte toda la informacion para que tomes el control de tus inversiones en fondos de inversion colectiva.
  </p>
  <hr class="my-4">
  <p>Para tomar control de tus inversiones en fondos de inversion colectiva necesitas la informacion de los fondos disponibles en el mercado. Maii esta aqui para ayudarte a encontrar esa informacion de manera facil. Con Maii puedes:</p>
  <ul> 
  <li>Comparar los FIC disponibles en el mercado</li>
  <li>(Proximamente) Hacerle seguimiento a tus FIC preferidos</li>
</ul>
<p class="text-primary">Seguimos trabajando en construir mas herramientas para inversionistas como tu</p>
  <%if session.fetch(:user_id) != nil%>
  <a class="btn btn-outline-primary" href="/administradoras" role="button">Agrega un favorito</a>
  <%end%>
  <%if session.fetch(:user_id) == nil%>
  <a class="btn btn-outline-primary" href="/user_sign_up" role="button">Unete a Maii</a>
  <a class="btn btn-outline-primary" href="/user_sign_in" role="button">Entra a tu cuenta</a>
  <%end%>
</div>

