<div class="jumbotron">
  <h1 class="display-4">Que es Maii</h1>
  <p class="lead">Maii es una aplicacion que nacio del deseo de ayudar a 
  inversionistas como tu a invertir en fondos de inversion colectiva 
  para lograr tus metas.
  </p>
  <hr class="my-4">
  <p>Para tomar control de tus inversiones en fondos de inversion colectiva necesitas la informacion de los fondos disponibles en el mercado. Maii esta aqui para ayudarte a encontrar esa informacion de manera facil.</p>
  <a class="btn btn-outline-primary" href="/" role="button">Volver</a>
</div>