
<div class="jumbotron">
  <h1 class="display-4">Mi portafolio</h1>
  <p class="lead">Muy pronto podras hacerle seguimiento a tus propias inversiones en FIC.</p>
  <hr class="my-4">
  <p>En Maii estamos trabajando en construir mas herramientas para que los inversionistas como tu tomen el control de sus inversiones en fondos de inversion colectiva.</p>
  <a class="btn btn-outline-primary" href="/" role="button">Volver</a>
</div>