<h1>Entra a tu cuenta</h1>

<form action="/user_verify_credentials" method="post">
    <div class="form-group">
      <label for="email_box" class="form-label mt-4">Tu correo electronico</label>
      <input type="email" class="form-control" id="email_box" name="query_email" aria-describedby="emailHelp" placeholder="maii@ejemplo.com" type="text">
    </div>
    <div class="form-group">
      <label for="password_box" class="form-label mt-4">Tu contrasena</label>
      <input type="password" class="form-control" id="password_box" name="query_password" placeholder="******">
    </div>

  <button class="btn btn-outline-primary">
    Entrar a mi cuenta
  </button>
</form>

<hr>

<p>
  Si todavia no haces parte de Maii, <a href="/user_sign_up">crea tu cuenta</a>
</p>
