<h1>Unete a Maii</h1>

<form action="/insert_user" method="post">
    <div class="form-group">
      <label for="email_box" class="form-label mt-4">Tu correo electronico</label>
      <input type="email" class="form-control" id="email_box" name="query_email" aria-describedby="emailHelp" placeholder="maii@ejemplo.com" type="text">
    </div>
    <div class="form-group">
      <label for="password_box" class="form-label mt-4">Tu contrasena</label>
      <input type="password" class="form-control" id="password_box" name="query_password" placeholder="******">
    </div>
    <div class="form-group">
      <label for="password_confirmation_box" class="form-label mt-4">Confirma tu contrasena</label>
      <input type="password" class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="******">
    </div>

  <button class="btn btn-outline-primary">
    Crear mi cuenta
  </button>
</form>

<hr>

<p>
  Si ya haces parte de Maii, <a href="/user_sign_in">entra a tu cuenta.</a>
</p>
